#body {
  background-image: url('https://cdn.glitch.com/f9bbb43b-e246-41af-8d93-e8d7f3cee10c%2Fchess-wallpaper.png?v=1584719088784');
  background-repeat: no-repeat;
  background-size: cover;
  font-size : 30px;
  padding-top : 10%;
}

button, input {
  font-size : 25px;
  border-style : solid;
  background-color : white;
  border-radius: 10px;
}

#box {
  border-style : outset;
  border-radius: 30px;
  margin : auto;
  width : 60%;
  overflow : auto;
  background-color : grey;
}

p, th, td {
  text-align : center;
  font-family : Gill Sans, sans-serif;
}

#amis {
  border: 1px solid grey;
}

#amis {
  background-color : #aaaaaa;
}

#amis th, #amis td {
  font-size : 24px;
  border: 0px solid grey;
  background-color : white;
}

#rechercher {
	background-size : 100%;
	background-image : url("https://cdn.glitch.com/139185a8-2845-442f-9b69-25bf7b642875%2Floupe.png?v=1587919373754");
	color : white;
}

.amiConnecte {
  color : green;
}

.amiDeconnecte {
  color : red;
}

.suppB {
  font-weight: bold;
  color : red;
}