<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Chess</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/index/index.css">
  </head>  
  <body id = "body">
    <section id = "accueil">
      <p id = "titre">Jeu d'Echec en ligne</p>
      <form id = "banniereTable">
        <p id = "row0">
          <button type = "submit" id = "create">Créer un salon privé</button>
          <button type = "submit" id = "join">Rejoindre un salon privé</button>
        </p>
        <p id = "row1">
          <label for = "level">Votre niveau :</label>
          <select id = "level-select">
            <option>Débutant</option>
            <option>Intermédiaire</option>
            <option>Professionnel</option>
            <option>Expert</option>
          </select>
          <button type = "submit" id = "aleatoire">Rechercher un adversaire</button>
        </p>
        <p id = "row2">
          <button type = "submit" id = "regles">Règles du jeu</button>
        </p>
      </form>
    </section>
    <script type = "text/javascript" src = "/index/index.js"></script>
  </body>
</html>
